<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Konfirmasi Pendaftaran</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Konfirmasi Pendaftaran Workshop</h1>
    Anda telah mendaftar untuk workshop :

    <ul>
        <li>Kode : JVM-002</li>
        <li>Nama : JVM Workshop Batch 002</li>
    </ul>

    Silahkan periksa email Anda untuk mendapatkan informasi pembayaran.
</div>
</body>
</html>