<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Workshop</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Daftar Workshop</h1>

    <table>
        <thead>
            <tr>
                <th>Kode</th>
                <th>Nama</th>
                <th>Harga</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${daftarMateri.content}">
            <td th:text="${m.kode}">M-001</td>
            <td th:text="${m.nama}">Materi 001</td>
            <td th:text="${m.biaya}">Rp. 100000</td>
            <td>
                <a th:href="@{enroll(materi=${m.id})}">daftar</a>
            </td>
        </tr>
        </tbody>
    </table>

    Show <span sd:page-size-selector="javascript"></span> entries

    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>
</body>
</html>