<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pembayaran</title>
</head>
<body>
    <h1>Pembayaran</h1>
    <ul>
        <li>Bank : BNI Syariah</li>
        <li>Rekening : 01234567890</li>
        <li>Nama : Endy Muhardin</li>
        <li>Nilai : Rp. 1.000.000</li>
        <li>Keterangan : Pembayaran pendaftaran training JVM-002 - JVM Workshop 002</li>
        <li>Waktu Pembayaran : 31-Januari-2020 13:30:34</li>
        <li>Referensi : ABCDEF123456</li>
    </ul>
</body>
</html>